
.footer-container{
    display: flex;
    bottom: 0;
    justify-content: space-around;
    height: 50vh;
    background-color: green;
    margin-top: 20px;
}


.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    flex-direction: none;
}

.boutons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.carte-visite{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
    

}

.card{
    width: 400px;
    border: 3px solid red;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    

}

.photo{
    border-radius: 50%;
    margin: auto green;
    border: 10px solid green;
}

.h2{
    position: absolute;
    top: 50px;
    
}

.nom{
    position: absolute;
    right: auto;
}